.game-over-modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.game-over-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    padding: 20px;
    font-size: 20px;
    color: #FFF;
    background-color: #198a77;
    border-radius: 8px;
}

.game-over-modal-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0 0 0;
    padding: 12px;
    color: #FFF;
    background-color: rgb(87, 85, 85);
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}